/* Typography */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.container {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Header section styles */

.site-header {
  padding: 40px 0px;
}

.header-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-nav__links {
  color: rgba(51, 51, 51, 1);
  line-height: 1.4;
  text-decoration: none;
}

.header-search {
  display: flex;
  gap: 0.5rem;
}

.header-search input {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom: 1px solid;
}

/* Hero section styles */

.hero {
  background-image: url("/images/hero-img.png");
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 113px;
}

/* Hero content */
.hero-content {
  width: 530px;
  height: 340px;
}

.hero-content-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 40px;
}

.hero-content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 64px;
}

.hero-arrow {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero-arrow-text {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.1em;
}

.hero-arrow-action {
  display: block;
}

.hero-arrow-action img {
  display: block;
}


/* Hero cards  */

.hero-cards {
  display: flex;
  gap: 24px;
  width: 640px;
  height: 530px;
  flex-wrap: wrap;

}

.hero-card {
  width: 306px;
  height: 250px;
  background-color: #5DB7DE;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
}

.hero-card-heading {
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.hero-card-text {
  font-weight: 700;
  font-size: 19px;
  line-height: 140%;
}



/* Main section styles */

.main {}

.main-services {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  margin-bottom: 250px;
}

.services {
  width: 306px;
  height: 333px;
}

.services-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.4;
  color: #333333;
  margin-top: 0;
  margin-bottom: 60px;
}

.services-wrapper {
  width: 306px;
  height: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.services-wrapper:last-child {
  margin-bottom: 0;
}

.services-text {
  font-size: 16px;
  line-height: 1.4;
  color: #3D348B;
}

.services-link {
  display: inline-block;
}

.services-img {
  width: 46px;
  height: 34px;
  display: block;
}


.service-cards {
  color: #fff;
  display: flex;
  gap: 24px;
  width: 856px;
  height: 717px;
  flex-wrap: wrap;
}

.service-card {
  width: 416px;
  height: 223px;
  padding: 30px;
  background-color: #3D348B;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
}

.service-card-heading {
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase
}

.service-card-text {
  font-weight: 700;
  font-size: 19px;
  line-height: 1.4;
}


/* About company */

.about-comp {
  margin-bottom: 260px;
}

.about-comp-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.4;
  color: #333333;
  margin-bottom: 60px;
}

.about-comp-content {}

.about-comp-text-wrapper {
  width: 636px;
  height: 550px;
}


.about-comp-wrapper-text {
  margin-bottom: 16px;
}

.about-comp-text-wrapper ul {
  margin: 0 0 16px;
  padding: 0 0 0 30px;
}

.about-comp-text-wrapper ul li {
  margin-bottom: 16px;
}

.about-comp-text-wrapper ul li:last-child {
  margin-bottom: 0;
}


.about-comp-images {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 526px;
  height: 550px;
}

.card-image-with-overlay {
  position: relative;
  width: 526px;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
}

.about-comp-images-img {
  max-width: 100%;
  display: block;
}


.image-with-icon {
  position: relative;
  display: grid;
  place-items: center;
}

.icon-image {
  position: absolute;
}


/* overlay styles */

.overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(61, 52, 139, 0.5);
  /* display: grid;
  place-items: center; */

}

.card-image-with-overlay:hover .overlay {
  visibility: visible;
  cursor: pointer;
}



.about-comp-images-card {
  padding: 30px 35px;
  width: 526px;
  height: 170px;
  background-color: #5DB7DE;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-comp-images-card-heading {
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.about-comp-images-card-text {
  font-weight: 700;
  font-size: 19px;
  line-height: 140%;
}